body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  border-right: 0px;
  border-left: 0px;
}

th {
  text-align: left;
}

.folder-img {
  width: 20px;
}

.name-col {
  display: flex;
  align-items: center;
  gap: 11px;
  border-top: none;
}

.name-col a {
  text-decoration: none;
  color: #000;
}

@media  only screen and (max-width:600px) {
   
  table tr th:last-child, table tr td:last-child{
    display: none;
  }
  
}